* {
    font-family: sans-serif;
}

body {
    margin: 10px;
}

.highscores,
.timer {
    display: inline;
    font-size: 20px;
}

.timer {
    float: right;    
}

.main-body {
    margin: 100px 400px 0px 400px;
    text-align: center;
}

.main-text,
.sub-text {
    padding-bottom: 10px;
}

.main-text {
    font-size: 50px;
}

.answer-button {
    background-color: rebeccapurple;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 30px;
    color: white;
    display: block;
    margin-bottom: 10px;
}

#start-button,
#end-button {
    background-color: rebeccapurple;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 30px;
    color: white;
}