* {
    font-family: sans-serif;
}

body {
    margin: 10px;
}

/* Header */
.highscore-text,
.timer {
    display: inline;
    font-size: 20px;
    position: fixed;
    top: 10px;
}

.highscores {
    list-style-type: none;
    margin-top: 2em;
}

.timer {
    left: 1350px; 
}

/* Body */
.main-body {
    margin: 100px 400px 0px 400px;
    text-align: center;
}

.main-text,
.sub-text {
    padding-bottom: 10px;
}

.sub-text {
    font-weight: 300;
}

.main-text {
    font-size: 50px;
}

/* Buttons */
.answer-button {
    background-color: rebeccapurple;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 30px;
    color: white;
    display: block;
    margin-bottom: 10px;
}

#start-button,
#reset-button {
    background-color: rebeccapurple;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 30px;
    color: white;
}

/* Form */
#user-initials-form {
    padding-bottom: 10px;
}

#user-initials-input {
    padding: 5px 50px;
    text-align: center;
}